.comment__body {
    background-color: #f2f3f5;
    border-radius: 18px;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    line-height: 16px;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    word-wrap: break-word;
    position: relative;
    white-space: normal;
    word-break: break-word;
}

.mat-card-subtitle:not(:first-child),
.mat-card-title:not(:first-child) {
    margin-top: 12px;
}

.mat-card-title {
    font-size: 16px;
}

.content {
    padding: 8px 10px;
}