<header>

    <mat-sidenav-container class="sidenav-container">


        <mat-sidenav-content>
            <mat-toolbar style="background-color: #1976D2 !important">
                <mat-toolbar-row style="height:auto">
                    <!-- <button mat-icon-button (click)="drawer.toggle()" fxShow="true" fxHide.gt-sm>
                                    <mat-icon>menu</mat-icon>
                                  </button> -->
                    <div fxShow="true">
                        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                        <a [routerLink]="['/']" mat-button>
                            <mat-icon>home</mat-icon>
                            <span fxHide.lt-md="true">Home</span>
                        </a>
                        <a href="#" mat-button *ngIf="userAuth.isUserSignedIn() && !userAuth.isUserAnny()">
                            <mat-icon>notifications</mat-icon>
                            <span fxHide.lt-md="true">Notifications</span>
                        </a>
                        <a [routerLink]="['/messages']" *ngIf="userAuth.isUserSignedIn() && !userAuth.isUserAnny()" mat-button>
                            <mat-icon>message</mat-icon>
                            <span fxHide.lt-md="true">Messages</span>


                        </a>
                    </div>
                    <span class="example-spacer d-flex justify-content-center">
                            <section >
                                    <mat-progress-spinner [diameter] ="'40'" *ngIf="progressBarMode === 'indeterminate'"  mat-card-avatar [color]="'primary'" [mode]="progressBarMode">
                                    </mat-progress-spinner>
                                    <div  *ngIf="progressBarMode != 'indeterminate'"  mat-card-avatar style="background-image:url('/assets/images/logo.png'); background-size: 40px 40px" class="hero-header__image" ></div>
                                </section>

                    </span>
                    <div fxShow="true" class="d-inline-flex">
                        <app-search-bar></app-search-bar>
                    </div>

                    <div class="d-inline-flex" *ngIf="userAuth.currentUser| async as data">
                        <div [matMenuTriggerFor]="menu" mat-card-avatar style="background-size: 40px 40px" class="hero-header__image" [ngStyle]="{'background-image': 'url(' + data.photoURL+ ')'}"></div>
                        <a [matMenuTriggerFor]="menu" fxHide.lt-md="true" mat-button>
                            <span>{{data.displayName+' '+data!.familyName}}</span>
                        </a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="['/',data.uid,'edit']"><mat-icon>person</mat-icon>Profile</button>
                            <button mat-menu-item (click)="logout()">LogOut</button>
                        </mat-menu>

                    </div>
                    <a [routerLink]="['/','posts']" *ngIf="userAuth.isUserSignedIn() && !userAuth.isUserAnny()" mat-button class="btn btn-round material-design">
                        <mat-icon>add_circle</mat-icon> <span>Service</span>
                    </a>
                    <a mat-button (click)="logout()" *ngIf="userAuth.isUserAnny()">LogOut</a>

                </mat-toolbar-row>
            </mat-toolbar>
        </mat-sidenav-content>
    </mat-sidenav-container>

</header>