<header>
    <link rel="manifest" href="../../../../manifest.json">
    <nav>
        <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
            <div fxFlex="40" class="d-inline-flex">
                <a mat-raised-button routerLink="/" i18n="@@home">
          Home
        </a>

                <a *ngIf="user" mat-raised-button [routerLink]="['/', user.uid,'edit']">
          {{user.displayName}}
        </a>
                <a *ngIf="user" mat-raised-button [routerLink]="['/messages']">
         Messanger
        </a>


                <div class="d-inline"> <a *ngIf="loggedIn()" mat-raised-button (click)="logout()">
            Sign Out </a>
                </div>

                <div class="d-inline" *ngIf="!loggedIn()"> <a mat-raised-button (click)="login()">
                        Sign In
                    </a>
                </div>



            </div>
            <div fxFlex class="d-flex justify-content-end">
                <app-search-bar></app-search-bar>
                <button mat-icon-button [matMenuTriggerFor]="matmenu">
          <mat-icon>language</mat-icon>
        </button>
                <mat-menu #matmenu="matMenu">
                    <div mat-menu-item *ngFor="let lang of languages">
                        <a class="language-link" href="{{(lang.name === 'en') ? currentUrl : '/' + lang.name + currentUrl}}" (click)="changeLanguage(lang.name)">
                            <mat-icon>flag</mat-icon>
                            <span>{{lang.label}}</span>
                        </a>
                    </div>
                </mat-menu>
                <a class="icon__image" href="{{appConfig.repositoryURL}}" target="_blank">
                    <img src="assets/images/github-circle-white-transparent.svg">
                </a>
            </div>
        </div>
    </nav>
    <section class="progress-bar ">

        <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
        </mat-progress-bar>
    </section>
</header>