<div class=" mt-5">
    <ngx-auth-firebaseui *ngIf="!auth.isUserSignedIn()">
    </ngx-auth-firebaseui>
</div>

<div fxLayout="row" *ngIf="auth.isUserSignedIn()">
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
    <div fxFlex="90" fxFlex.gt-sm="80">
        <h1 class="header__title mt-5" i18n="@@topHeroes"> most liked</h1>
        <app-hero-loading *ngIf="!workdone"></app-hero-loading>
        <div id="heroes-list" *ngIf="workdone" [@fadeInOut]>
            <ng-container *ngFor="let post of posts">
                <app-hero-card [post]="post"></app-hero-card>
            </ng-container>
        </div>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>