.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.img-thumbnail {
    height: 100px;
    min-width: 100px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

html,
body {
    height: 100%;
}

input[type=file] {
    color: transparent;
}

.mianphoto {
    background-color: red;
    opacity: 30%
}