<div class="container-wrapper mt-5 container d-flex justify-content-center align-items-center">
    <div class="form-wrapper text-center">
        <h2 class="text-center">Login</h2>
        <form [formGroup]="loginForm" (submit)="submit()" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" id="email-input" placeholder="Enter Email" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password-input" placeholder="Password" formControlName="password">
            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-group">

                <button type="button" (click)="fbAuth()" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                <!--Twitter-->
                <button type="button" (click)="twitAuth()" class="btn btn-tw"><i class="fab fa-twitter pr-1"></i> Twitter</button>
                <!--Google +-->
                <button type="button" (click)="gooAuth()" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i> Google +</button>
            </div>
        </form>
        <small><a routerLink="/auth/signup">Need an Account?</a></small>
    </div>
</div>