<app-hero-loading *ngIf="!post"></app-hero-loading>
<mat-card class="hero-card" *ngIf="post">
    <mat-card-header>
        <div (click)="seePostDetails(post)" mat-card-avatar class="hero-header__image" [ngStyle]="{'background-image': 'url(' + post.avatarThumbnailUrl + ')'}"></div>
        <mat-card-title class="text-primary" (click)="seePostDetails(post)">{{post.name}}</mat-card-title>
        <mat-card-subtitle>{{post.date|date}}</mat-card-subtitle>
        <div class="flex-spacer"></div>
        <!-- <div class="post-actions">
            {{post.likes}}
            <mat-icon class="icon__like--red" (click)="like(post)">favorite
            </mat-icon>
        </div> -->
    </mat-card-header>

    <mat-card-content>
        <div class="text-success m-1">{{post.price}} ₪.‎</div>
        <div> <i class="fas fa-map-marker-alt m-1"></i> {{post.location}}</div>
        {{post.description}}
    </mat-card-content>

    <div class="d-inline" *ngIf="tags |async as alltags"><span style="color:#365899" *ngFor="let item of alltags"><a>#{{item}}</a></span></div>
    <mat-card-actions *ngIf="canComment">
        <hr>
        <button mat-button color="primary">Send message <i class="fas fa-envelope"></i></button>
        <button mat-button>SHARE</button>
        <hr>
    </mat-card-actions>
    <mat-card-content>
        <div *ngFor="let item of allComments | async" class="m-3">
            <app-comment [Comment]="item"></app-comment>
        </div>
        <div *ngIf="canComment" (keydown)="enter($event)">
            <mat-form-field class="example-full-width">
                <textarea style=" background-color: #f2f3f5" name="coment" [(ngModel)]="comments" required matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>

        </div>

    </mat-card-content>
</mat-card>