<div class="container mt-5">
    <app-hero-loading *ngIf="user===undefined"></app-hero-loading>

    <div *ngIf="user" class="content-wrapper">
        <div class="row ">
            <div class="col-sm-4">
                <h1 class="bold">{{ user.displayName }}'s Profile</h1>
            </div>

            <div class="col-sm-8">
                <div *ngIf="editForm.dirty" class="alert alert-info">
                    <strong>Information:</strong> You have made change. Any unsaved changes will be lost
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <div class="card card-fluid">
                    <img src="{{user.photoURL }}" alt="{{ user.knownAs }}" class="card-img-top img-thumbnail" />
                    <div class="card-body">
                        <div>
                            <strong>Location:</strong>
                            <p>{{user.city }}</p>
                        </div>
                        <div>
                            <strong>Age:</strong>
                            <p>{{ user.age }}</p>
                        </div>
                        <div>
                            <strong>Last Active:</strong>
                            <p>{{ user.isActive}}</p>
                        </div>
                        <div>
                            <strong>Member since:</strong>
                            <p>{{ user.created |date: 'mediumDate' }}</p>
                        </div>
                    </div>
                    <div *ngIf="canEdit" class="card-footer">
                        <button form="editform" [disabled]="!editForm.dirty" style="font-size: 20px" class="btn btn-success btn-block  mr-3">
               <span class="mat-button-wrapper">Save Changes</span>  <i class="fa fa-save"></i>
              </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 ">
                <div class="tab-panel">
                    <mat-tab-group class="member-tabset">
                        <mat-tab label="Posts" style="background-color:gray !important ">
                            <div *ngIf="canEdit" class="text-center mb-3">
                                <a mat-button [routerLink]="['/posts/create']">
                                    <mat-icon style="font-size: 60px !important"> add_to_queue </mat-icon>
                                </a>
                            </div>

                            <div *ngIf="user.posts" style="background-color:gray !important ">
                                <app-post-card style="width:90%" *ngFor="let post of user.posts" [id]="post"></app-post-card>
                            </div>

                            <div *ngIf="  !user.posts" class="text-center">
                                <a mat-button [routerLink]="['/posts/create']" style="margin: 11rem !important">
                                    <mat-icon style="font-size: 60px !important"> add_to_queue </mat-icon>
                                </a>
                            </div>

                        </mat-tab>
                        <mat-tab label="Edit Profile">
                            <form #editForm="ngForm" id="editform" (ngSubmit)="updateProfile()">
                                <h4>Description:</h4>
                                <textarea name="bio" rows="1" class="form-control" [(ngModel)]="user.bio"></textarea>

                                <h4>Intresets</h4>
                                <textarea name="intrest" rows="1" class="form-control" [(ngModel)]="user.intrest">{{user.intrest}}</textarea>
                                <h4>Location Details:</h4>
                                <div class="form-inline">
                                    <label for="city">City</label>
                                    <input type="text" name="city" class="form-control ml-2" [(ngModel)]="user.city" />
                                </div>
                                <h4>Personal data :</h4>
                                <div class="form-inline">
                                    <label for="age">Age</label>
                                    <input type="text" name="age" class="form-control ml-2" [(ngModel)]="user.age" />
                                </div>
                            </form>
                        </mat-tab>

                        <mat-tab label="Edit Photos" *ngIf="canEdit">
                            <app-Photo-Editor [photos]="user.photos" (user)="setMainPhoto($event)"></app-Photo-Editor>
                        </mat-tab>
                        <mat-tab label=" Galary">
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>