.img-thumbnail {
    margin: 25px;
    width: 85%;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 0 25px;
}

pre {
    margin-top: 19px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.ddd h1 {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    padding-left: 3em !important;
    font-size: 3rem;
}

textarea {
    font-size: 3rem;
}

input {
    font-size: 1.4rem;
}