<mat-form-field id="search-input">
    <input matInput placeholder="Look for a hero!" i18n-placeholder="@@findHero" [matAutocomplete]="heroesAutocomplete" [formControl]="postFormControl">
</mat-form-field>

<mat-autocomplete #heroesAutocomplete="matAutocomplete">
    <mat-option class="text" *ngFor="let post of postsFiltered" (onSelectionChange)="searchHero(post)" [value]="post.displayName">
        {{post.displayName}}
    </mat-option>
</mat-autocomplete>
<!-- <mat-slide-toggle [checked]="tags === 'true' ? true : false" (change)="setValue( i , $event )">
    enable tags?
</mat-slide-toggle> -->