<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<div class="" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask view rgba-gradient container d-flex justify-content-center align-items-center">
        <!-- Content -->
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class=" col-md-6 mb-5 mt-md-0  white-text text-center text-md-left">
                <h1 class=" animatedh1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">
                    Sign up right now!
                </h1>
                <hr class=" animated hr-light wow fadeInLeft" data-wow-delay="0.3s" />
                <h6 class=" animated mb-3 wow fadeInLeft" data-wow-delay="0.3s">
                    Contact skilled persones, regular persones within minutes. View profiles, ratings, portfolios and chat with them. Pay the any persone only when you are 100% satisfied with their work. .
                </h6>
                <a mdbBtn color="white" outline="true" mdbWavesEffect class="animated wow fadeInLeft" data-wow-delay="0.3s">Learn more</a
          >
            </div>
        <!--Grid column-->
        <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
          <!--Form-->
          <form [formGroup]="registerModel" (ngSubmit)="register()">
            <mdb-card id ="data" class="animated wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <i class="fas fa-user white-text"></i> Register:
                  </h3>
                  <hr class="hr-light" />
                </div>
                <!--Body-->
                <div class="row">
                  <div class="col-md-6">
                 <div class="md-form">
                  <i class="fas fa-user prefix white-text active"></i>
                  <input
                    type="text"
                    id="form3"
                    class="text-white form-control"
                    formControlName="displayName"
                    mdbValidate
                    mdbInput
                  />
                  <label for="form3" class="text-white">Your name</label>
                </div></div>
                <div class="col-md-6">

                <div class="md-form">
                  <i class="fas fa-user prefix white-text active"></i>
                  <input
                    type="text"
                    id="form9"
                    class="text-white form-control"
                    formControlName="familyName"
                    mdbValidate
                    mdbInput
                  />
                  <label for="form9" class="text-white">Family Name</label>
                </div>
                </div>
                </div>
                <div class="md-form">
                  <i class="fas fa-envelope prefix white-text active"></i>
                  <input
                    formControlName="email"
                    type="email"
                    id="form2"
                    class="text-white form-control"
                    mdbInput
                    mdbValidate
                  />
                  <label for="form2" class="text-white">Your email</label>
                </div>
                <div class="md-form">
                  <i class="fas fa-lock prefix text-white active"></i>
                  <input
                    type="password"
                    formControlName="passwrod"
                    id="form4"
                    class="text-white form-control"
                    mdbInput
                    mdbValidate
                  />
                  <label for="form5" class="text-white">Your password</label>
                </div>
                <div class="md-form">
                  <i class="fas fa-lock prefix text-white active"></i>
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    id="form5"
                    class="text-white form-control"
                    mdbInput
                    mdbValidate
                  />
                  <label for="form5" class="text-white">repete password</label>
                </div>
                <div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="materialUnchecked" value="male"
                               formControlName="gender" [name]="reactiveRadio">
                        <label class="text-white form-check-label" for="materialUnchecked">Male</label>
                      </div>
                    
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="materialChecked2" value="female"
                               formControlName="gender" [name]="reactiveRadio">
                        <label class="text-white form-check-label" for="materialChecked2">Female</label>
                      </div>

          </div>
 
              
                <div class="text-center mt-4">
                  <button
                    mdbBtn
                    color="indigo"
                    mdbWavesEffect
                    [disabled]="!registerModel.valid"
                  >
                    Sign up
                  </button>
                  <button mdbBtn color="red" (click)="cancel()" mdbWavesEffect>
                    Cancel
                  </button>

                  <hr class="hr-light mb-3 mt-4" />
             
        </div>
        </mdb-card-body>
        </mdb-card>
        </form>
        ` <small><a routerLink="/auth/login">Already have an Account?</a></small>

                <!--/.Form-->
            </div>
        </div>
        <!--Grid column-->
    </div>
    <!-- Content -->

    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->